<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">	
<body>
	
	<!-- Navbar -->
	<nav class="navbar-container">
		<ul class="nav navbar">
			<li class="nav-item active"><a href="#intro">Home</a></li>
			<li class="nav-item"><a href="#flip">About</a></li>
      <li class="nav-item"><a href="#flip">Blog</a></li>
			<li class="nav-item"><a href="#flip">My Work</a></li>
			<li class="nav-item"><a href="#flip">Contact</a></li>
		</ul>
	</nav>