<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
          <!-- Google result text-->

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-ME88LD4GDV"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-ME88LD4GDV');
        </script>
        <!-- Google result description-->
        <meta name="description" content="I build web applications focused more on front end web app development. Delivering beautifully crafted web services, providing SEO capability and expert writing services.">
        <!-- og Is Open Graph tagging used by Facebook and Twitter has a siilar one.-->
        <!--  Essential META Tags -->
        <meta property="og:title" content="Erika Chaudhary">
        <meta property="og:image" content="https://elbornlab.com/appdev.jpg">
        <meta property="og:description" content="We build digital products for brands and startups. Delivering beautifully crafted web and mobile applications, providing SEO capability and expert cyber security services.">
        <meta property="og:url" content="https://elbornlab.com">
        <meta name="twitter:card" content="summary_large_image">
        <!--  Non-Essential, But Recommended -->
        <meta property="og:site_name" content="El Born Lab">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300&display=swap" rel="stylesheet">
    </head>
<body>
    <body style="background-color: white;">

  
  <h1 style="color:black">About Me</h1>  

        Hi, I'm Erika Chaudhary! I'm a full-stack web developer. 
        
        I love front-end development and I love back end development. 
        
        I am always focused on creating clean, mobile first, responsive web designs!</p>

<section class="skills">

      <div class="skill-item">
          <p class="skill-title">Ruby</p>
          <div class="progress">
            <div class="progess-bar progess-html"></div>
          </div>
        </div>

        <div class="skill-item">
          <p class="skill-title">HTML</p>
          <div class="progress">
            <div class="progess-bar progess-html"></div>
          </div>
        </div>

        <div class="skill-item">
          <p class="skill-title">CSS</p>
          <div class="progress">
            <div class="progess-bar progess-css"></div>
          </div>
        </div>

      <div class="skill-item">
        <p class="skill-title">Bootstrap</p>
        <div class="progress">
          <div class="progess-bar progess-html"></div>
        </div>
      </div>

        <div class="skill-item">
          <p class="skill-title">JS</p>
          <div class="progress">
            <div class="progess-bar progess-js"></div>
          </div>
        </div>

      </section>
        
       
</body>
</head>
