<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
          <!-- Google result text-->

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-ME88LD4GDV"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-ME88LD4GDV');
        </script>
        <!-- Google result description-->
        <meta name="description" content="I build web applications focused more on front end web app development. Delivering beautifully crafted web services, providing SEO capability and expert writing services.">
        <!-- og Is Open Graph tagging used by Facebook and Twitter has a siilar one.-->
        <!--  Essential META Tags -->
        <meta property="og:title" content="Erika Chaudhary">
        <meta property="og:image" content="https://elbornlab.com/appdev.jpg">
        <meta property="og:description" content="We build digital products for brands and startups. Delivering beautifully crafted web and mobile applications, providing SEO capability and expert cyber security services.">
        <meta property="og:url" content="https://elbornlab.com">
        <meta name="twitter:card" content="summary_large_image">
        <!--  Non-Essential, But Recommended -->
        <meta property="og:site_name" content="El Born Lab">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300&display=swap" rel="stylesheet">
    </head>
<body>
    <body style="background-color: white;">

  
    <div class="section aboutme" data-anchor="aboutme">
    <div class="opaque-bg animated fadeInDown">
      <h1 style="color:white">Erika<span style="color:#FF6363">/</span>Chaudhary</h1>
      <p><span id="holder"></span><span class="blinking-cursor">|</span></p>
    </div>
    <i id="moveDown" class="fa fa-chevron-down fa-3x bounce"></i>
  </div>

  <div class="section" data-anchor="skills">
      <div class="content">
        <h1 class="wow fadeInDown" data-wow-delay="0.2s">ABOUT ME</h1>
        <p class="wow fadeInDown" data-wow-delay="0.2s">Hi, I'm Erika Chaudhary! I'm a Web Designer & Front-end Developer focused on creating clean, responsive web designs!</p>

        <div class="progress">
        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
          <span class="sr-only">90% Complete (success)</span>
        </div>
      </div>
      CSS
      <div class="progress">
        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%">
          <span class="sr-only">95% Complete</span>
        </div>
      </div>
      Bootstrap
      <div class="progress">
        <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%">
          <span class="sr-only">95% Complete (warning)</span>
        </div>
      </div>
      JavaScript
      <div class="progress">
        <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
          <span class="sr-only">75% Complete (danger)</span>
        </div>
      </div>
    </article>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
</div>
</body>
</head>
