.aboutme {
    background: url("https://s3-us-west-2.amazonaws.com/files.bradengelhardt.com/brad-bg-main.jpg")
      no-repeat;
    background-size: cover;
  }

.aboutme p {
    color: black;
    font-weight: 100;
    font-size: 17.4px;
  }
